<h3 class="text-center">Adding New Article</h3>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@article, :html => { class: "form-horizontal", role: "forml" }) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-1">
          <%= f.label :title %>
        </div>
      </div>
    <% end %>
  </div>
</div>